/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 26, 2016, 7:48:24 PM
    Author     : apprentice
*/

html, body{
    margin: 0;
    padding: 0;
    height:100%;
    background-color: #74AFAD;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom:100px;
    padding-top: 75px;
    background-color: #74AFAD;
    text-align: center;
    height:100%;
}

#div1{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid 1px black;
    background-color: aliceblue;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#div2{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

input{
    margin: 25px;
    border-radius: 5px;
}

#buttonRoll{
    padding: 25px;
    width: 250px;
}

#resultTable{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 70%;
    width: 70%;
    border: solid 1px black;
    text-align: center;
}

table{
    margin-left: auto;
    margin-top: 25px;
    margin-right: auto;
    width: auto;
    background-color: gray;
    padding: 15px;
    border: solid 1px black;
    text-align: center;
}

td{
    padding: 15px;
    border: solid 1px black;
    background-color: #d3d3d3;
}

th{
    font-size: 250%;
    text-decoration: underline;
}

h1{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

form{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding: 0;
}
.content1{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding-top: 150px;
}
.interestCalcContent{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding: 150px;
}

#submitButton{
    margin-left: auto;
    margin-top: 25px;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.header{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

#year{
    background-color: yellow;
}

.unitButton{
    margin-left: auto;

    margin-right: auto;
    width: 100%;
    height: 100%;

}
#units{
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    margin-right: 100%;
    margin-top: 0;
    float: left;
    border: solid 1px black;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
    padding:10px;
}

#menu{
    list-style-type: none;
    margin:0;
    padding:0;
    width:100%;
    position: fixed;
    top: 15%;
}

#menu li{
    display: inline;
}

li a:hover {
    background-color: #111;
}

.header{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    border-bottom: 1px solid grey;
    background-color: #558C89;
    padding: 10px;
    color: #ECECEA;
    position: fixed;
    width: 100%;
}
