/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2016, 11:48:57 AM
    Author     : apprentice
*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

h1{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

form{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}
input{
    margin: 25px;
    border-radius: 5px;
}
table{
    margin-left: auto;
    margin-top: 25px;
    margin-right: auto;
    width: auto;
    background-color: gray;
    padding: 15px;
    border: solid 1px black;
    text-align: center;
}
#resultBox{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 25%;
    border: solid 1px black;
    text-align: center;
}
td{
    padding: 15px;
    border: solid 1px black;
    background-color: #ffffcc;
}
.unitButton{
    margin-left: auto;

    margin-right: auto;
    width: 100%;
    height: 100%;

}
ul{
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    margin-right: 100%;
    margin-top: 0;
    float: left;
    border: solid 1px black;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
    padding:10px;
}

#div1{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid 1px black;
    background-color: aliceblue;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
