/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2016, 11:48:57 AM
    Author     : apprentice
*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

h1{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

form{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}
input{
    margin: 25px;
    border-radius: 5px;
}
table{
    margin-left: auto;
    margin-top: 25px;
    margin-right: auto;
    width: auto;
    background-color: gray;
    padding: 15px;
    border: solid 1px black;
    text-align: center;
}
#resultTable{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 70%;
    width: 70%;
    border: solid 1px black;
    text-align: center;
}
td{
    padding: 15px;
    border: solid 1px black;
    background-color: #ffffcc;
}
#submitButton{
    margin-left: auto;
    margin-top: 25px;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
