/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 26, 2016, 7:48:24 PM
    Author     : apprentice
*/

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper{
  min-height: 100%;
  position: relative;
}
#div1{
  margin-left: auto;
  margin-right: auto;
  color: black;
  width:auto;
  font-weight: bold;
  text-align: center;
  padding: 25px;
}

input{
  margin: 25px;
}

#buttonRoll{
  padding: 25px;
  width: 250px;
}

table{
  margin-left: auto;
  margin-top: 25px;
  margin-right: auto;
  width: auto;
  background-color: gray;
  padding: 15px;
  border: solid 1px black;
  text-align: center;
}

td{
  padding: 15px;
  border: solid 1px black;
  background-color: #d3d3d3;
}

th{
  font-size: 250%;
  text-decoration: underline;
}
