/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2016, 11:48:57 AM
    Author     : apprentice
*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.header{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

form{
    margin-left: auto;
    margin-right: auto;
    color: black;
    width:auto;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}
input{
    margin: 25px;
    border-radius: 5px;
}